* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}
nav,
header,
article,
aside,
footer {
    padding: 1em;
}

nav {
    background-color: pink;
    flex: 1;
}

#rilmain {
    display: flex;
    flex-direction: column;
    flex: 5;
}

#main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

header, footer {
    background-color: khaki;
    padding: 30px;
}

#main>article {
    flex: 2;
}

#main>aside {
    background-color: cyan;
    flex: 1;
}